<h2>Login</h2>

<form (ngSubmit)="login()">

  <div>
    <label>Email</label><br>
    <input
      type="email"
      name="email"
      [(ngModel)]="email"
      required>
  </div>

  <br>

  <div>
    <label>Senha</label><br>
    <input
      type="password"
      name="senha"
      [(ngModel)]="senha"
      required>
  </div>

  <br>

  <button type="submit" [disabled]="carregando">
    @if (carregando) {
      Entrando...
    } @else {
      Entrar
    }
  </button>

</form>

@if (erro) {
  <p class="erro">{{ erro }}</p>
}

<br>

<a routerLink="/register">
  Criar uma conta
</a>
